nav {
    background-color: #4e7692;
}

body  {
    background-color: rgba(0, 151, 255, 0.29);
}

footer {
    background-color: rgba(0, 0, 0, 0.46);
}

.img-card {
    display: block;
    max-height: 350px;
    max-width: 350px;
    margin: 0 auto;
}

#img-home {
    height: 200px;
    display: block;
}

h1 {
    text-align: center;
}

.custom-file-label::after {
    content: "Parcourir";
}

.bg-light {
    background-color: #799ab12e !important;
}

.btn-secondary {
    background-color: #0b83ff;
    border-color: #0b83ff;
}

.btn-secondary:hover {
    background-color: #0164c7;
    border-color: #0164c7;
}

div.card-header>a,
a.text-deco-no {
    color: #343a40;
}

div.card-header>a:hover,
a.text-deco-no:hover {
    text-decoration: none;
    color: #343a40;
}

.avatar-mini {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
}

.avatar {
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
}

.avatar-profil {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

a>img:hover {
    text-decoration: none;
}

.image-show {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    max-width: 450px;
    max-height: 450px;
}