{% extends 'base.html.twig' %}

{% block title %}SF{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Films de science fiction</h1>

        {% include 'ad/categories/_categories.html.twig' %}
    </div>
{% endblock %}