{% extends 'base.html.twig' %}

{% block title %}Thriller{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Films thriller</h1>

        {% include 'ad/categories/_categories.html.twig' %}
    </div>
{% endblock %}