{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">
            Bienvenue sur le site LFAV <br>
            (Les Films À Voir)
        </h1>

        <img src="/images/home.jpg" alt="Image d'accueil" class="mx-auto" id="img-home">

        <h2 class="text-center my-5">
            Ce site à pour but de vous faire découvrir des films qualitatifs <br>
            (ce n'est qu'un avis personnel !)
        </h2>

        <h3 class="my-5 text-center">Quelques exemples de films</h3>

        <div class="row">
            {% for ad in ads %}
            {% include 'ad/_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}