{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Liste des films</h1>

        <div class="row">
            {% for ad in ads %}
                {% include 'ad/_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
