{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Liste des films</h1>

        <div class="row">

            {% for ad in ads %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3 class="text-center">{{ ad.title }}</h3>
                        <img src="{{ asset('images/')~ad.imageFilm.name }}" alt="Image" class="img-card">
                    </div>
                    <div class="card-body">

                        <p class="text-center">{{ ad.content }}</p>

                        <a href="{{ path("ad_show", {'slug': ad.slug}) }}" class="btn btn-success">En savoir plus</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}
