{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Liste des films</h1>

        <div class="row">

            {% for ad in ads %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3>{{ ad.title }}</h3>
                    </div>
                    <div class="card-body">
                        <img src="{{ ad.coverImage }}" alt="Image">

                        <p>{{ ad.content }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}
